[package]
name = "app"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
matrixmultiply = "0.3.10"
num-traits = "0.2.19"
rand = "0.9.2"
rayon = "1.11.0"
thiserror = "2.0.17"

[features]
cuda = []
