name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: peaceiris/actions-mdbook@v2
      with:
        mdbook-version: 'latest'
    - name: Builds, tests and runs mdbook tests
      run: make
